---
import Countdown from './Countdown';
import 'animate.css';
---
<div class="relative h-screen w-screen bg-marfil flex flex-col justify-start items-center overflow-x-hidden 
	p-2
	md:pt-8
	lg:pt-10
	xl:pt-12
">
	<div class="flex flex-col justify-center items-center gap-4 z-10 ">
		<div class="relative w-full flex flex-col justify-center items-center  ">
			<h3 
				class="text-[#333] font-cinzelDecorative 
				text-4xl 
				animate__animated animate__slideInDown animate__slower
				sm:text-6xl
				
			"
			>SAVE THE DATE</h3>
			<div class=" w-3/4 mt-9 flex flex-col justify-center items-center animate__animated animate__slideInDown animate__slower">
				<img class="-ml-8" 
				src="/img/calendar_1.png" 
				alt="" srcset="">
			</div>
		</div>
		<div class="w-full flex flex-col justify-center items-center
			mt-4
		">
			<h1 class="text-[#333] font-greatVibes 
				text-5xl 
				animate__animated animate__zoomIn animate__slower animate__slower
				sm:text-6xl
				md:text-8xl
				lg:text-9xl
			">
				Fernanda y Ernesto
			</h1>
		</div>
		<Countdown client:load/>
	</div>
	<div class="w-full flex flex-row justify-center items-center mt-8 animate__animated animate__zoomIn animate__slower
		md:mt-8
		relative
		z-20
	">
		<button class="
			
			
			text-lg text-[#333] p-4 px-8 rounded-md shadow-cButtonShadow 
			font-cinzelDecorative flex justify-center items-center
			hover:bg-[#333]
			hover:text-white
			transition-all
			duration-500
			hover:scale-110
			mt-6
			md:text-xl
			lg:mt-2 
		">
			Reserva tu lugar
		</button>
	</div>

	<div class="relative
		w-full h-fit z-10 
		mt-8
		flex flex-row justify-center
		animate__animated animate__rotateInDownLeft
		lg:absolute  lg:bottom-0 lg:left-0 lg:bg-transparent lg:justify-start
	 ">
			<img 
				class="relative 
				w-2/4 
				h-auto
				sm:w-3/12
				md:w-4/12
				lg:w-2/12
			" 
			src="/img/Minimalist-line-art-of-a-man-proposing-to-a-woman.svg" 
			alt="" srcset="">
	</div>
	
</div>
